{% extends 'testapp/base.html' %}
{% load static %}
{% block title %} about {% endblock %}

{% block content %}
<section class="background_image py-5">
  <div class="container">
      <div class="text-white text-center">
        <h1 class="display-1 txt_shadow" style="font-weight: 800; font-size: 6vh;">About Clipping Paths India </h1><br>
        <button type="button" class="btn btn-danger btn-lg m-2 rounded-pill"><a href="#" class="text-white"><b> Our Expertise</b></a></button>
        <button type="button" class="btn btn-light btn-lg m-2 rounded-pill"><a href="{% url 'testapp:contact' %}" class="text_color"><b> Get Contact Us</b></a></button>
    </div>
  </div>
</section>

<section class="py-5">
<div class="container">
  <div class="text-size txt_shadow text-center">
    <h2>KNOW ABOUT OUR PROFESSIONAL QUALITY</h2><hr>
  </div>
  <div class="row pt-3">
    <div class="col-sm-3 col-md-3"> 
      <div class="text-center p-2">
        <img src="{% static 'theme/assets/img/about/24-hours-support.png' %}" class="img-fluid" title="24 hours support" alt="24 hours support"><br><br>
        <h4>24/7 We're Open</h4>
        <p>We’re always ready to provide our professional quality services to you by clipping path India service.</p>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="text-center p-2">
        <img src="{% static 'theme/assets/img/about/lock.png' %}" class="img-fluid" title="100% Secured Files" alt="100% Secured Files"><br><br>
        <h4>100% Secured Files</h4>
        <p>When you give us your desired photo, we don’t share that.</p>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="text-center p-2">
        <img src="{% static 'theme/assets/img/about/customer-satisfaction.png' %}" class="img-fluid" title="100% Client Satisfaction" alt="100% Client Satisfaction"><br><br>
        <h4>100% Client Satisfaction</h4>
        <p>We are a satisfying service provider ensuring 100% Satisfaction.</p>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="text-center p-2">
        <img src="{% static 'theme/assets/img/about/on-time.png' %}" class="img-fluid" title="On Time Delivery" alt="On Time Delivery"><br><br>
        <h4>On Time Delivery</h4>
        <p>We turn around 100% on time. You don’t have to wait for your surprise.</p>
      </div>
    </div>
  </div><br>
  <div class="txt_shadow text-center">
    <h4>Clipping Paths India (CPIn) is one of the best clipping path service provider on the earth. We always offer satisfactory guaranteed work for our client and do every work as own work with carefully.</h4><br>
    <h4>We offer a wide range of image editing services such as Clipping Path, Background Remove, Image Masking, Photo Retouching, Shadow Creating, Multiple Clipping Path, Image Manipulation, Color Correction, Web Image Optimization With a perfect blend of experience, skill, dedication, and punctuality. We are different from others because we always maintain high quality work at affordable price. And our specialty is that, we are 24/7 available in 365 days also we believe that client is always right.</h4>
  </div> <hr><br>

  <div class="text-size txt_shadow text-center">
    <h2>OUR TEAM</h2>
  </div><br>
  <div class="row">
    <div class="col-sm-3 col-md-3">
      <div class="text-center p-2">
        <img src="{% static 'theme/assets/img/about/1.-Mohammed-Nur-Ahmmed.jpg' %}" class="img-fluid" alt="">
        <h5 class="pt-1">Mohammad Nur Ahmed</h5>
        <p><span class="text-primary"> Chief Executive Officer(CEO)</span> <br>Clipping Paths India (CPIn) </p>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="text-center p-2">
        <img src="{% static 'theme/assets/img/about/5.-Farhad-Bhuiyan.jpg' %}" class="img-fluid" alt="">
        <h5 class="pt-1">Farhad Bhuiyan</h5>
        <p><span class="text-primary">Executive Marketing (Asia)</span> <br>Clipping Paths India (CPIn) </p>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="text-center p-2">
        <img src="{% static 'theme/assets/img/about/3.-Mujahidul-Islam.jpg' %}" class="img-fluid" alt="">
        <h5 class="pt-1">Mujahidul Islam </h5>
        <p><span class="text-primary"> Executive Director (Production)</span> <br>Clipping Paths India (CPIn) </p>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="text-center p-2">
        <img src="{% static 'theme/assets/img/about/4.-Nur-Uddin-Fahim.jpg' %}" class="img-fluid" alt="">
        <h5 class="pt-1">Nur Uddin Fahim</h5>
        <p><span class="text-primary">Executive Director (Finance)</span> <br>Clipping Paths India (CPIn) </p>
      </div>
    </div>
    <div class="col-sm-3 col-md-3">
      <div class="text-center p-2">
        <img src="{% static 'theme/assets/img/about/2.-Md-Ariful-Islam.jpg' %}" class="img-fluid" alt="">
        <h5 class="pt-1">Ariful Islam</h5>
        <p><span class="text-primary">Executive Marketing (USA)</span> <br>Clipping Paths India (CPIn) </p>
      </div>
    </div>
   
  </div>

</div>
</section>


<section class=" py-5">
<div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3">
        <div class="text-center p-2">
          <img src="{% static 'theme/assets/img/about/innovative-ideas.png' %}" class="img-fluid" title="24 hours support" alt="24 hours support"><br><br>
          <h4>INNOVATIVE IDEAS</h4>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="text-center p-2">
          <img src="{% static 'theme/assets/img/about/timely-supports.png' %}" class="img-fluid" title="timely supports" alt="timely supports"><br><br>
          <h4>TIMELY SUPPORT</h4>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="text-center p-2">
          <img src="{% static 'theme/assets/img/about/advanched-technologies.png' %}" class="img-fluid" title="ADVANCED TECHNOLOGY" alt="ADVANCED TECHNOLOGY"><br><br>
          <h4>ADVANCED TECHNOLOGY</h4>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="text-center p-2">
          <img src="{% static 'theme/assets/img/about/Clear-communication.png' %}" class="img-fluid" title="Clear Communication" alt="Clear Communication"><br><br>
          <h4>CLEAR COMMUNICATION</h4>
        </div>
      </div>
    </div>
</div>
</section>


{% endblock content %}
 