{% extends 'testapp/base.html' %}
{% load static %}
{% block title %}Background Remover{% endblock %}

{% block content %}
  <section class="background_image py-5">
    <div class="container">
        <div class="text-white text-center">
          <h1 class="display-1 txt_shadow" style="font-weight: 800; font-size: 6vh;">AFFORDABLE BACKGROUND REMOVE SERVICE</h1><br>
          <button type="button" class="btn btn-danger btn-lg m-2 rounded-pill"><a href="#" class="text-white"><b> Our Expertise</b></a></button>
            <button type="button" class="btn btn-light btn-lg m-2 rounded-pill"><a href="{% url 'testapp:contact' %}" class="text_color"><b> Get Contact Us</b></a></button>
      </div>
    </div>
</section>

<section>
  <div class="container"><br>
    <div class="text-center shadow p-3">
      <img src="{% static 'theme/assets/img/clipping-path/Background-remove_CPIn.jpg' %}" class="img-fluid" title="clipping path india" alt="clippiing path india">
    </div><br>
    <div class="txt-sz-p p-3">
      <p>
        There is no question that a photograph is incredibly valuable to each business. A great photo can make a memorable ad, brochure, website, or advertisement. Every company needs professional photo editing services to make the most of their photographs before putting them to print or digital platforms. That’s where the clipping path India comes in, providing tips and techniques for creating better images.</p><br>
      <p>Clipping path India edits your photo background remove it in various ways. image masking, remove background, resizing image clipping for fashion magazine ads, editing any image for commercial use and marketplace like amazon.</p><br>
    </div>
  </div><br>
</section>


<section>
  <div class="container">
    <div class="p-3 txt-sz-p">
      <h2 class="txt_shadow">Why need Background remove service</h2><br>
      <p>Background removal can remove the background from images to make them more appealing or complete. Some people look at a picture and immediately know what kind of picture it is. Others need to see what the background contains before making up their mind about it.</p><br>
      <p>There are hundreds, if not thousands, of applications out there, and you need to decide which one fulfills your needs best. Most people want the best quality backgrounds for their marketing projects even if it costs more.</p><br>
      <p>If your business deals with customers or visitors all over the world, or if your images are used by various media sources such as newspapers and magazines, you need background removing services provided by state-of-the-art technology.</p><br>
      <p>This has benefits like saving time, making the picture clearer, and allowing you to check out details better without having to check out the full photo.</p>
    </div>
     <br>
    <div class="p-3 txt-sz-p">
         <h3>Here are some features for what you need: a professional background remove service to outsource.</h3>
         <h4>Background remove to make your image perfect</h4><br>
        <p>
          Background removal services remove backgrounds from pictures in order to make them more memorable. These services create custom images using various picture editing tools such as GIMP or Photoshop.</p>  <br>
        <p>By using these services, you can change the appearance of your photos in a very short time period without having to go through the trouble of making your own images or waiting for images that might be already made. Background removal services are a good option if you want to change some important aspects of your picture without messing up the rest of it.</p><br>
        <h4>This service can save you time and money</h4>
        <p>Background removal is a great way to make even unprofessional-looking product photographs look professional and appealing. By outsourcing this type of work, you won’t have to waste time getting professional backgrounds from large companies that charge exorbitant amounts of money. You can instead work with someone who will do it for you at a price that’s comparable or less than what you’d pay if you did it yourself.</p><br>
        <p>By outsourcing your background removal services, you can focus on other tasks such as your marketing campaigns, business development, and customer support.</p><br>
        <h4>To highlight the main content image or text</h4>
        <p>This service can improve the overall quality of the product image by removing distracting background elements from the shot and focusing on the main content image or text.</p>
        <p>It’s great for visual branding, especially on product pages or blog posts. <br> After all, pure content always attracts the most attention.</p><br><br>
        <h4>To hide the unwanted parts from original images</h4>
        <p> Background removal services from photography can help you remove background elements from your pictures, particularly distracting or irrelevant ones.</p>
        <p>Remove unwanted elements from your products make the picture as clear as you like. The results can be stunning! </p><br><br>
        <h4>To make your image stand out from the crowd</h4>
        <p>Background removal service can be used to remove all sorts of background elements from your pictures. It’s a great service for those who want their product or photo to stand out more on the internet. Most importantly it improves the overall quality of your product photography, making sure that the focus of the viewer’s attention remains on the final product.</p><br><br>
        <h4>To improve the appearance of an image (make it look better)</h4>
        <p>The use of these services will enhance the overall look of your product photographs and give the owner of that product more options to enhance their appearance. The use of these services will increase the conversion rate when customers engage with your product.</p>
        <p>It is important to note that background removal services are provided in good faith and are only used for professional purposes.</p><br><br>
        <h4>Make your images match brand colors</h4>
        <p>Background removal services from photo or product photography are really important when your business grows and you are looking for businesses to do marketing for you.</p>
        <p>This service isn’t always necessary but it helps improve your overall brand image. When someone sees your photo or product, they can instantly associate it with what you do. That means you can get more potential customers and increase sales by removing background clutter so your photo or product looks as good as it can in the moments before your customer sees it.</p>
    </div>
    <br>
  </div>
</section>

<section class="why-choose-us">
  <div class="container">
    <div class="p-3 txt-sz-p">
      <h2 class="txt_shadow">Why Choose Us?</h2><br>
      <p>A company will never be able to cover all your needs, but at least you’ll have a chance to buy professional images which are of top quality and suitable for all situations.</p><br>
      <p>We are a professional photo editing company and our professional image editing team that allows one to quickly remove background and decoration elements from any image and bring it to life in a way that makes the viewer feel it has been well pictures taken. We can offer you clipping services which will give your pictures a fresh look.</p>
      <p>Let’s say you’re a customer and you’re looking for a good clipping path service provider. There are many companies out there offering this service but what makes us shine is that we provide a better value for our customers. Not only that but all of our work is done with utmost professionalism and integrity; you can trust that our team has studied the most recent trends in marketing and graphic design along with the latest industry best practices.</p><br>
      <p>We offer you quality services at affordable prices. Our professional team of professional remove artists provides you with professional-grade image background removal, crisp, and smart. We have a wide variety of backgrounds to choose from.</p><br>
      <p>Each of our backgrounds is handpicked from our vast database of high-quality stock images. We also ensure that all of our designs are custom-made to your specific needs. All you have to do is choose your background and add it to your project! If you are looking for something truly unique and artistic, you are surely in the right place.</p>
      <p>What are you waiting for? <br><br>

        Call us today for your Background removal service.</p>
    </div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container">
    <div class="text-center txt-sz-p">
      <h3 class="text-size txt_shadow">PRICING</h3>
      <p>Clipping Paths India (CPIn) is a unique image editing company. We never think about pricing. Our main concentration is the quality of work and our 1st goal is to show the quality of work and buildup a long-term business relationship.</p>
    </div><br>
    <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
            <h3 class="pt-3">STARTER</h3>
            <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.29</h1>
            <p>/Per Image</p>
            <p class="border-bottom">Basic Plan For Beginners.</p><br>
            <p><b>10 Image/$10</b>  Minimum Order</p>
            <p> <b>2 Images Free</b> Trial Before Ordering</p>            
            <p><b>JPEG, PNG, PSD, TIFF</b>  Format</p>   
            <p><b>24/7 </b> Support</p> 
            <p><b> 3 Times</b> Revision </p>  
            <p> <b>Affiliate</b> Opportunities</p> 
            <p> <b>C To C Contact</b> Not Required</p>
            <p> <b>No Monthly</b> Payment System</p><br>
            <button type="button" class="btn border shadow btn-lg m-2"><a href="#"><b>Free Trial</b></a></button>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
            <h3 class="pt-3 text-info">PROFESSIONAL</h3>
            <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.21</h1>
            <p>/Per Image</p>
            <p class="border-bottom">Perfect For Professionals & Businesses.</p><br>
            <p><b>100 Image</b> Minimum Order </p>
            <p> <b> 3 Images Free</b> Trial Before Ordering</p>   
            <p><b>JPEG, PNG, PSD, TIFF, RAW, PDF</b>  Format</p>   
            <p>24/7 Support</p> 
            <p><b> Unlimited</b> Revision </p>  
            <p> <b>Affiliate</b> Opportunities</p> 
            <p> <b>C To C Contact</b> Not Required</p>
            <p> <b>Monthly</b> Payment System</p><br>
            <a class="btn footer-background text-white btn-lg button_slide shadow" href="{% url 'testapp:getfreedemo' %}" role="button">FREE TRIAL</a>
          </div>
        </div>
    </div>
  </div>
</section>

{% endblock content %}