
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'theme/assets/img/favicon.PNG' %}" type="image/gif" sizes="16x16">
    <title>{% block title %}best clippingpath service in the world {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'theme/assets/clipping.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light border-bottom">
    <div class="container">
      <a class="navbar-brand" href="{% url 'testapp:home' %}"><img src="{% static 'theme/assets/img/clippingpathsindia.png' %}" class="img-fluid" height="93" width="275" title="clipping paths india" alt="clipping paths india"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'testapp:home' %}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'testapp:about' %}">About Us</a> </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item my-2 p-2" href="{% url 'testapp:clipping_paths' %}"><i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp; Clipping Path</a>
              <a class="dropdown-item my-2 p-2" href="{% url 'testapp:background_remover' %}"><i class="fa fa-window-restore" aria-hidden="true"></i>&nbsp; Background Remover</a>
              <a class="dropdown-item my-2 p-2" href="{% url 'testapp:color_correction' %}"><i class="fa fa-adjust" aria-hidden="true"></i>&nbsp; Color Correction</a>
              <a class="dropdown-item my-2 p-2" href="{% url 'testapp:drop_shadow' %}"><i class="fa fa-clone" aria-hidden="true"></i>&nbsp; Drop Shadow</a>
              <a class="dropdown-item my-2 p-2" href="{% url 'testapp:image_retuch' %}"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;  Image Re-tuch</a>
              <a class="dropdown-item my-2 p-2" href="{% url 'testapp:invisble_mannequine' %}"><i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;  Invisible Mannequin</a>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link" href="{% url 'testapp:portfolio' %}">Portfolio </a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'testapp:pricing' %}">Pricing </a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'testapp:contact' %}">Contact Us</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'testapp:getfreedemo' %}">Get Free Demo</a></li>
        </ul>
        <form class="form-inline my-1 my-lg-0">
          <a class="btn footer-background text-white btn-lg button_slide shadow" href="{% url 'testapp:getfreedemo' %}" role="button">Get Quote</a>
        </form>
      </div>
    </div>
  </nav>


{% block content %}

{% endblock content %}


<!-- footer -->
<section class="footer footer-background py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8">
        <div class="text-white">
          <h5>About Us</h5>
          <h2>CALL: +8801842130715</h2>
          <h5>EMAIL: CLIPPINGPATHSINDIA@GMAIL.COM</h5>
        </div>
      </div>
      <div class="col-sm-4 col-md-4">
        <div class="text-white text-right">
        <img src="{% static 'theme/assets/img/clippingpathsindia.png' %}" class="img-fluid"  alt="Clipping Path India">
        </div>
      </div>
    </div><br><br>
    <div class="row border-bottom pb-3">
      <div class="col-sm-3 col-md-3">
        <div class="text-white p-2">
          <h5>SERVICES</h5>
            <a class="dropdown-item text-warning" href="{% url 'testapp:clipping_paths' %}"><i class="fa fa-clipboard" aria-hidden="true"></i>&nbsp; Clipping Path</a>
            <a class="dropdown-item text-warning" href="{% url 'testapp:background_remover' %}"><i class="fa fa-window-restore" aria-hidden="true"></i>&nbsp; Background Remover</a>
            <a class="dropdown-item text-warning" href="{% url 'testapp:color_correction' %}"><i class="fa fa-adjust" aria-hidden="true"></i>&nbsp; Color Correction</a>
            <a class="dropdown-item text-warning" href="{% url 'testapp:drop_shadow' %}"><i class="fa fa-clone" aria-hidden="true"></i>&nbsp; Drop Shadow</a>
            <a class="dropdown-item text-warning" href="{% url 'testapp:image_retuch' %}"><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp;  Image Re-tuch</a>
            <a class="dropdown-item text-warning" href="{% url 'testapp:invisble_mannequine' %}"><i class="fa fa-eye-slash" aria-hidden="true"></i>&nbsp;  Invisible Mannequin</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="text-white p-2">
          <h5>HELP & ADVICE</h5>
          <a class="dropdown-item text-warning" href="{% url 'testapp:getfreedemo' %}">Get Free Quote</a>
          <a class="dropdown-item text-warning" href="{% url 'testapp:getfreedemo' %}">Free Demo</a>
          <a class="dropdown-item text-warning" href="{% url 'testapp:faq' %}">FAQs</a>
          <a class="dropdown-item text-warning" href="{% url 'testapp:pricing' %}">Pricing</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="text-white p-2">
          <h5>COMPANY</h5>
          <a class="dropdown-item text-warning" href="{% url 'testapp:about' %}">About Us</a>
          <a class="dropdown-item text-warning" href="{% url 'testapp:contact' %}">Contact Us</a>
          <a class="dropdown-item text-warning" href="{% url 'testapp:bloglist' %}">Blog</a>
        </div>
      </div>
      <div class="col-sm-3 col-md-3">
        <div class="text-white p-2">
          <h5>GET IN TOUCH</h5>
          <p>Feel Free the get in touch with us on social media</p>
          <div class="text-warning">
            <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>&nbsp;
          <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>&nbsp;
          <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </div>
        </div>
        </div>
    </div>
    <div class="row pt-3">
      <div class="col-sm-6 col-md-6">
        <div class="text-light">
          <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i> &nbsp;| 2021 Clipping Path India | All Right Reserved </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="text-light">
          <p> Designed & Developed By <b> Brainsinfo</b></p>
        </div>
      </div>
    </div>
  </div>

</section>


<!-- GetButton.io widget for whatsapp -->
<script type="text/javascript">
  (function () {
      
      var options = {
          whatsapp: "+8801612393939", // WhatsApp number
          call_to_action: "Message us", // Call to action
          position: "right", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol, host = "getbutton.io", url = "https://static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
      // alert(x);
      console.log(s);
  })();
</script>

<!-- <script>
  const scriptURL = 'https://script.google.com/macros/s/AKfycbxnNK6Dmi_MP521GzoI3MusQ15-qkMbLunJa9dNfTAZ468_zGCkq_MzgAj96V9gnHCB/exec'
const form = document.forms['google-sheet']

form.addEventListener('submit', e => {
e.preventDefault()
fetch(scriptURL, { method: 'POST', body: new FormData(form)})
 .then(response => {
   window.location.replace("https://www.softopark.com/thanks/");
 })
 .catch(error => console.error('Error!', error.message))
}) 
</script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>