
{% extends 'testapp/base.html' %}
{% load static %}
{% block title %}Clipping Paths{% endblock %}

{% block content %}
  <section class="background_image py-5">
    <div class="container">
        <div class="text-white text-center">
          <h1 class="display-1 txt_shadow" style="font-weight: 800; font-size: 6vh;">Affordable Expert Clipping Path Service</h1><br>
          <button type="button" class="btn btn-danger btn-lg m-2 rounded-pill"><a href="#" class="text-white"><b> Our Expertise</b></a></button>
            <button type="button" class="btn btn-light btn-lg m-2 rounded-pill"><a href="{% url 'testapp:contact' %}" class="text_color"><b> Get Contact Us</b></a></button>
      </div>
    </div>
</section>

<section>
  <div class="container"><br>
    <div class="text-center shadow p-3">
      <img src="{% static 'theme/assets/img/clipping-path/Clipping-path_CPIn.jpg' %}" class="img-fluid" title="clipping path india" alt="clippiing path india">
    </div><br>
    <div class="txt-sz-p p-3">
      <p>Creating a phenomenal-looking image is a challenge. It raises the bar for image editing and requires excellent editing skill sets. However, if you are simply looking for shiny and beautiful pictures for your eCommerce or for your blog and social media accounts at an affordable price then we can help you out.</p><br>
      <p>The concept of clipping path comes from the concept of applying special effects to pictures to make them more appealing. Clipping paths India provides you all the photo editing services including clipping paths for anyone who cares about the perfection of their images.</p><br>
      <p>This is a technique that many graphic designers use when they want to make something look more appealing than it really is. A clipping path service will allow you to show your images to your audience more attractive than it was before.</p>
    </div>
  </div><br>
</section>

<section>
  <div class="container">
    <div class="p-3 txt-sz-p">
      <h2 class="txt_shadow">Type of Services that we are serving</h2><br>
      <p>There are many benefits to clipping path services including any project involving product photography, magazine, catalogs, posters, and brochures.</p><br>
      <p>Clipping path services are available for any type of media artwork. Many clients design their own designs and we provide the services to help remove backgrounds from images.</p><br>
      <p>Our quality Image editing services include background removal, ghost mannequin, image editing services, hand-drawn clipping paths, photo retouching services, image clipping, image masking, white background, image retouching, and drop shadow.</p><br>
      <p>Our services are used by many companies to create promotional products and ads in eCommerce, magazines, catalogs, and newspapers.</p>
    </div>
     <br>
    <div class="p-3 txt-sz-p">
         <h2 class="txt_shadow">Our working Process for photoshop Clipping Path services</h2><br>
        <p>Photoshop Clipping Path is a quick and easy photoshop service that allows you to create clipping masks for your images. This way you can quickly modify the appearance of an image without having to know its structure in advance.</p>  <br>
        <p> Each client has their own requirements and it is our goal to provide a unique service that will fulfill these requirements. We work through each client step by step until we can deliver the best Photoshop Clipping Path service available for their business.</p>
    </div>
    <br>
    <div class="p-3 txt-sz-p">
      <h2 class="txt_shadow">Our primary phrase for Clipping Path services is as follows:</h2><br>
      <h3>1) Finding The Right Candidate: </h3>
      <p>After doing research on a few candidates, we select the one that we feel best aligns with our business goals and outlook on life. This includes researching what they do, what motivates them, and any issues they have had in the past.</p><br>
      <h3>2) Agree on a Budget:</h3>
      <p>Once we have finalized our plan, we discuss it with both parties and come to an agreement on how much will be spent on the project.</p>
      <h3>3) Set Up the Environment: </h3>
      <p>Once we are all set up and ready to begin, we do. <br> Our final process consists of the following steps: <br><br> <b>Prototyping or Samples – </b>  This is the first step we develop the graphical prototype or make a few samples for the product. <b> Development –</b> This is where we iterate and build features into the product based on customer feedback and requirements. <b> Manufacturing –</b> Once we have validated our design process, we move into production.</p>   
 </div>
  </div>
</section>

<section class="why-choose-us">
  <div class="container">
    <div class="p-3 txt-sz-p">
      <h2 class="txt_shadow">Why Choose Us?</h2><br>
      <p>We are professional graphic designers ourselves, and we know how to use the best tools in Photoshop to achieve your work. So, when you provide us with a Job description, we will deliver you what you want within the shortest possible time. <br><br> We deliver your perfect image in the time you deserve. We use perfect resolution images for your site or product, we provide “Correct” images with “Perfect” high quality and originality, and we give you clear photoshop data with transparency so that you can edit it however you need. <br><br> We know how important your work is, and we know how hard you have worked for that image to look perfect. We understand your concern as well, which is why we decided to show our customers that we really do care about their project. <b> Our guarantee covers everything from color correction, perspective correction, photo restoration, clipping path services, image enhancement, image composition, and many other services.</b> <br> <br>
        We offer our services at highly competitive prices in turnaround times so you can grow your business with relaxation and save your time a lot. Our team consists of people who have achieved distinction in their respective fields, which allows us to serve you <b> high-quality clipping paths services</b> for your best online presence. <br> <br> <b> We have a dedicated support team </b> that allows you to get support 24 hours even after post-production. <br> <br> So, what are you waiting for? Contact us now.</p>
    </div>
  </div>
</section>


<section class="bg-light py-5">
  <div class="container">
    <div class="text-center txt-sz-p">
      <h3 class="text-size txt_shadow">PRICING</h3>
      <p>Clipping Paths India (CPIn) is a unique image editing company. We never think about pricing. Our main concentration is the quality of work and our 1st goal is to show the quality of work and buildup a long-term business relationship.</p>
    </div><br>
    <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
            <h3 class="pt-3">STARTER</h3>
            <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.29</h1>
            <p>/Per Image</p>
            <p class="border-bottom">Basic Plan For Beginners.</p><br>
            <p><b>10 Image/$10</b>  Minimum Order</p>
            <p> <b>2 Images Free</b> Trial Before Ordering</p>            
            <p><b>JPEG, PNG, PSD, TIFF</b>  Format</p>   
            <p><b>24/7 </b> Support</p> 
            <p><b> 3 Times</b> Revision </p>  
            <p> <b>Affiliate</b> Opportunities</p> 
            <p> <b>C To C Contact</b> Not Required</p>
            <p> <b>No Monthly</b> Payment System</p><br>
            <button type="button" class="btn border shadow btn-lg m-2"><a href="#"><b>Free Trial</b></a></button>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
            <h3 class="pt-3 text-info">PROFESSIONAL</h3>
            <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.21</h1>
            <p>/Per Image</p>
            <p class="border-bottom">Perfect For Professionals & Businesses.</p><br>
            <p><b>100 Image</b> Minimum Order </p>
            <p> <b> 3 Images Free</b> Trial Before Ordering</p>   
            <p><b>JPEG, PNG, PSD, TIFF, RAW, PDF</b>  Format</p>   
            <p>24/7 Support</p> 
            <p><b> Unlimited</b> Revision </p>  
            <p> <b>Affiliate</b> Opportunities</p> 
            <p> <b>C To C Contact</b> Not Required</p>
            <p> <b>Monthly</b> Payment System</p><br>
            <a class="btn footer-background text-white btn-lg button_slide shadow" href="{% url 'testapp:getfreedemo' %}" role="button">FREE TRIAL</a>
          </div>
        </div>
    </div>
  </div>
</section>


{% endblock content %}
