{% extends 'testapp/base.html' %}
{% load static %}
{% block title %}Color Correction{% endblock %}

{% block content %}
<section class="background_image py-5">
    <div class="container">
        <div class="text-white text-center">
          <h1 class="display-1 txt_shadow" style="font-weight: 800; font-size: 6vh;">BEST PHOTO EDITING FIRM FOR COLOR CORRECTION IMAGES</h1><br>
          <button type="button" class="btn btn-danger btn-lg m-2 rounded-pill"><a href="#" class="text-white"><b> Our Expertise</b></a></button>
            <button type="button" class="btn btn-light btn-lg m-2 rounded-pill"><a href="{% url 'testapp:contact' %}" class="text_color"><b> Get Contact Us</b></a></button>
      </div>
    </div>
</section>

<section>
  <div class="container"><br>
    <div class="text-center shadow p-3">
      <img src="{% static 'theme/assets/img/clipping-path/color-correction_CPIn.jpg' %}" class="img-fluid" title="color correction" alt="color correction">
    </div><br>
    <div class="txt-sz-p p-3">
      <p>Clipping Path India provides valuable services to all business persons for their color correction images. Clipping Path India has become a success story in the market of photo editing and photo manipulation. We are supported by an expert team that provides color correction services. </p><br>
      <p>We also provide grading and color correcting services including photo retouching and restoration, background removal, clipping path service for images, illustration services. We use all kinds of famous photo editors including Adobe photoshop. We have been in this industry since 20012 and have earned a place among the Best Photo Editing firms.</p><br>
    </div>
  </div><br>
</section>

<section>
  <div class="container">
    <div class="p-3 txt-sz-p">
      <h2 class="txt_shadow">Why do you need the best color correction service for your Images?</h2><br>
    <p>It’s not a matter of if you need to adjust the color correction for images or product photos, it is a question of how often and how good. The answer to this is confidence and quality: confidence that your images will look their best and quality that the best image processing is always used for every photo.</p>
    <p>Color correction services will help your picture to look professionally edited and well presented. You want this for your eCommerce site, the product sales page and business flyers, brochure, or even just your personal profile photos.</p><br>
    <h4>Balance the skin tone</h4>
    <p>The delicate balance of a photo has to be maintained by the primary color correction process. Without it, the result could be an ugly mix between the skin tones. To get the best result from your photos, you should apply a simple skin correction that targets any areas that are lighter than normal. It also helps to correct shades that are too green or yellow, where they stand out against the background.</p><br>
    <h4>Get the correct lighting</h4>
    <p>Lighting helps make pictures look more vibrant and gives a sense of depth. Your subject matters can really make or break your photo. Lighting is probably the most important part of a photo. When editing pictures, lighting plays a big part in making the picture look good.</p>
    <p>Getting the lighting right can even decide whether or not you will like the picture. Lighting can be hard to get right especially when you are shooting in low light situations which can lead to making pictures look darker and less welcoming.</p>
    <p>The most important thing to know when editing pictures is how to use white balance correctly and learning how to use different lighting tools. Examples of tools are Lightroom and Photoshop.</p> <br><br>
    <h4>Enhance your colors and get more natural look</h4>
    <p>What makes a perfect color is something that nobody can know. You see things in the real world and your eyes filter out things that are not perfect. The same thing happens with computer screens. When you look at a white background with a black outline, there is nothing wrong with that. The background is going to appear white no matter what you do with your computer screen. But when you play around with different color combinations, you will start seeing different shades of gray on the screen. Now, this is not necessarily a bad thing because it means your white computer desktop will look more elegant as compared to a grey one.</p>
    <p>Color is one of the most important aspects of design. A lot depends on your taste, especially when it comes to colors. However, you might be surprised at how much impact that color has on the overall impression you give off. Many of us get carried away by our emotions and end up using color in ways that aren’t always very functional or even pretty. When you start using color inappropriately it can also have a negative effect on your work.</p>
    <p>Color correction is an important Photoshop effect that improves the contrast of colors on your images. It can also remove redness and improve the appearance of fine details in your images. </p><br> <br>
    <h4>Give your photos a professional and sleek look</h4>
    <p>Photography is a creative industry that relies on visuals to communicate its messages. In order to convey your message through your photos, you need to correct color mistakes and enhance your photos colors.</p>
    <p>Color correction is becoming more and more important every day. Whether you are taking pictures of your children for social media or looking for an accurate photo for posters or your business card, there is no denying the importance of having an eye for color correction. Color correction can also make a picture easier to read while also helping you to see fine details that would otherwise go unnoticed.</p>
    <p>There’s a lot of talk about how to give your photos a creative makeover. With the increasing demand for high-quality digital photos, it’s important to know which specific services can help you make your photos pop. If you want to know which services can transform your photos into beautiful masterpieces, get in touch with the best Image editing firms.</p><br><br>
    <h4>It will improve sales & conversion rate </h4>
    <p>Color correction is a service that can make your images look more appealing and impactful. This means that when someone views your product or image and makes a decision on whether or not to buy it, they will see the colors corrected and match more closely with the colors used in the actual product or advertisement. Most digital marketing is done through images and these days a lot of companies rely on color correction for their images.</p>
    </div>
     <br>
  </div>
</section>


<section class="why-choose-us">
  <div class="container">
    <div class="p-3 txt-sz-p">
      <h2 class="txt_shadow">Why Choose Us?</h2><br>
      <p>There are thousands of color correction services out there, but which ones do you need to choose for your appealing and professional look photos that ultimately increase your conversions the most?</p>
      <h4>Here are some key points to keep in mind for choosing the best photo editing firm like us. </h4>
     <p>
       <ul>
         <li>Photo color correction is offered at an affordable & competitive price</li>
         <li>Professional yet natural looking results</li>
         <li>Wide choice of services offered</li>
         <li>We have an excellent reputation</li>
         <li>Our 12 years of experience in photo editing service</li>
         <li>We provide amazing customer service</li>
         <li>Globally recognized photo color correction</li>
       </ul>
     </p><br>
     <p> We’re the world’s largest, highest quality photo color correction service and we guarantee you’ll love us or your money back. Our process was built by our founders to be as fast, affordable, and easy as humanly possible. We work with color saturation, split toning, hue saturation, white point, and black point including highlight and shadows, blue channel, post processing, and tone curve.</p>
      <p>Because we do it all for you, from start to finish. We don’t just color your photos; we also retouch them. Uploading and proofreading are included in the price. We make sure each photo has been the best appeal on top of each screen. <br><br>Get in touch with us today.</p>
    </div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container">
    <div class="text-center txt-sz-p">
      <h3 class="text-size txt_shadow">PRICING</h3>
      <p>Clipping Paths India (CPIn) is a unique image editing company. We never think about pricing. Our main concentration is the quality of work and our 1st goal is to show the quality of work and buildup a long-term business relationship.</p>
    </div><br>
    <div class="row">
        <div class="col-sm-6 col-md-6 my-2">
          <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
            <h3 class="pt-3">STARTER</h3>
            <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.29</h1>
            <p>/Per Image</p>
            <p class="border-bottom">Basic Plan For Beginners.</p><br>
            <p><b>10 Image/$10</b>  Minimum Order</p>
            <p> <b>2 Images Free</b> Trial Before Ordering</p>            
            <p><b>JPEG, PNG, PSD, TIFF</b>  Format</p>   
            <p><b>24/7 </b> Support</p> 
            <p><b> 3 Times</b> Revision </p>  
            <p> <b>Affiliate</b> Opportunities</p> 
            <p> <b>C To C Contact</b> Not Required</p>
            <p> <b>No Monthly</b> Payment System</p><br>
            <button type="button" class="btn border shadow btn-lg m-2"><a href="#"><b>Free Trial</b></a></button>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 my-2">
          <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
            <h3 class="pt-3 text-info">PROFESSIONAL</h3>
            <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.21</h1>
            <p>/Per Image</p>
            <p class="border-bottom">Perfect For Professionals & Businesses.</p><br>
            <p><b>100 Image</b> Minimum Order </p>
            <p> <b> 3 Images Free</b> Trial Before Ordering</p>   
            <p><b>JPEG, PNG, PSD, TIFF, RAW, PDF</b>  Format</p>   
            <p>24/7 Support</p> 
            <p><b> Unlimited</b> Revision </p>  
            <p> <b>Affiliate</b> Opportunities</p> 
            <p> <b>C To C Contact</b> Not Required</p>
            <p> <b>Monthly</b> Payment System</p><br>
            <a class="btn footer-background text-white btn-lg button_slide shadow" href="{% url 'testapp:getfreedemo' %}" role="button">FREE TRIAL</a>
          </div>
        </div>
    </div>
  </div>
</section>

{% endblock content %}
