{% extends 'testapp/base.html' %}
{% load static %}
{% block title %}Drop Shadow{% endblock %}


{% block content %}
  <section class="background_image py-5">
    <div class="container">
        <div class="text-white text-center">
          <h1 class="display-1 txt_shadow" style="font-weight: 800; font-size: 6vh;">IMAGE NATURAL SHADOW AND DROP SHADOW SERVICE PROVIDER</h1><br>
          <button type="button" class="btn btn-danger btn-lg m-2 rounded-pill"><a href="#" class="text-white"><b> Our Expertise</b></a></button>
            <button type="button" class="btn btn-light btn-lg m-2 rounded-pill"><a href="{% url 'testapp:contact' %}" class="text_color"><b> Get Contact Us</b></a></button>
      </div>
    </div>
</section>

<section>
  <div class="container"><br>
    <div class="text-center shadow p-3">
      <img src="{% static 'theme/assets/img/clipping-path/Drop-Shadow_CPIn.jpg' %}" class="img-fluid" title="Drop Shadow" alt="Drop Shadow">
    </div><br>
    <div class="txt-sz-p p-3">
      <p>The Drop Shadow is a lightweight service that adds a raised edge to all those product images that have rough or hard shadows. The edges of the images tend to look more professional and classier with this type of image enhancement. This creative technique is mainly used in professional photography and the art photography industry due to the breathtaking effect it produces – giving the viewer a heightened sense of realism.</p><br>
      <p>The beautiful images featured in your catalogs are meant to complement the exciting products inside, not to create a theme or appear in an email. Drop Shadow shows the natural shadow under the image and it is provided by nature or photography technique.</p><br>
      <p>Clipping path India is a Professional and Premium service provider which offers image natural shadow, drop shadow, clipping path service at an affordable price. </p> <br><br>
      <h2 class="txt_shadow">Why Need Drop shadow </h2>
      <p>The Drop Shadow Service is a nice way to enhance images. This shadow applies to images to make them look more natural in the design. The drop shadow effect is to make the product picture more mysterious and dreamier. Using drop shadow can help direct the viewer’s attention to a particular part of the photo.</p><br>
      <p>There are several reasons why using a drop shadow in your photos can improve the overall look of your work. Firstly, the darker the color, the more shadow there will be from the light source. This creates an interesting contrast between the deeper colors and the lighter tones in the image. Secondly, the placement and size of the objects in the photoplay an important role in how they will look against the background. Small details can really add up when it comes to creating an outstanding image.</p><br>
      <h3>Here are some key points for what you need to apply drop shadow on your Images.</h3>
      <p>
        <ul>
          <li><b>Drop shadow helps to draw out the focal point of your images </b></li>
          <li><b>To create the illusion of depth </b></li>
          <li><b>It can highlight the subject of an image</b></li>
          <li><b>To make it stand out from the background</b></li>
          <li><b>To give a more professional or elegant look</b></li>
          <li><b>To give a Contextual & modern look</b></li>
          <li><b>To improve the readability of text</b></li>
          <li><b>To Give photos more dimensions</b></li>
          <li><b>To create a 3D look</b></li>
          <li><b>Look clean and uncluttered </b></li>
        </ul>
      </p><br>
      <p>You might think that creating and posting pictures with drop shadows is only useful for artists and designers. But this could not be further from the truth. Creating shadows in your pictures can help you convey information, make the picture more pleasant to look at, and even increase the views of your product on social media. And this is not just something that good photographers do! Many businesses use drop shadows in their marketing in order to attract more clients or focus on a certain feature in products they’re promoting.</p><br>
      <h4>Why we are the Best for this service</h4>
      <p>Our services are the best because we take care of our clients like they are our own. We do everything we can to save our clients time and money. We are not interested in ranking services but rather in giving you a 100% honest opinion of our experience. We know what it takes to be successful so we are not just promising we will beat your competitors but will actually do it.</p><br>
      <p>We provide State-of-the-art photo editing services. If you are looking for expert services, we are your best option. Drop shadow service is one of my favorite kinds of services because, unlike other services that are designed to make the client happy but actually ruin their day, drop shadow makes it clear that we do what we do because we love it. </p><br>
      <p>Our customers trust us for their critical data and 99.9% of our users report that we meet or beat their expectations. According to independent reviews, our customers enjoy our fast and reliable service as well as unmatched security guarantees. We have worked hard to build a team of skilled industry experts who are committed to delivering consistent and quality service for our clients. </p><br>
      <p>Being the best service provider is not always easy. As a company that has been in this business for more than 10 years, we have worked hard to understand our customers’ needs and shape a company that can help them succeed. Our competitive edge comes from a deep understanding of how each stage in the customer journey works – from researching available options, understanding what’s required of our clients in order to successfully complete their request, designing a service that helps achieve our objectives, and providing it at an affordable price point. </p>
<br>
<h4>Types of shadows services that we offer you best</h4>
<p>
  <ul>
    <li><b>natural shadow service</b></li>
    <li><b>Cast shadow service</b></li>
    <li><b>Reflection shadow service</b></li>
    <li><b>Original shadow service </b></li>
  </ul>
</p><br>
<p>We, Clipping path India, provide all kinds of graphic design services including high-quality shadow creating services, white background removal, and photo retouching. Our Image editing services can give you confidence that your photo’s visual effects are far beyond professionalism and look great.</p>
<h5>Want to make your product catalog great with our drop shadow service?</h5>
<h6>Contact us now and get a free trial today.</h6>
    </div>
  </div><br>
</section>

<section class="bg-light py-5">
  <div class="container">
    <div class="text-center txt-sz-p">
      <h3 class="text-size txt_shadow">PRICING</h3>
      <p>Clipping Paths India (CPIn) is a unique image editing company. We never think about pricing. Our main concentration is the quality of work and our 1st goal is to show the quality of work and buildup a long-term business relationship.</p>
    </div><br>
    <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
            <h3 class="pt-3">STARTER</h3>
            <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.29</h1>
            <p>/Per Image</p>
            <p class="border-bottom">Basic Plan For Beginners.</p><br>
            <p><b>10 Image/$10</b>  Minimum Order</p>
            <p> <b>2 Images Free</b> Trial Before Ordering</p>            
            <p><b>JPEG, PNG, PSD, TIFF</b>  Format</p>   
            <p><b>24/7 </b> Support</p> 
            <p><b> 3 Times</b> Revision </p>  
            <p> <b>Affiliate</b> Opportunities</p> 
            <p> <b>C To C Contact</b> Not Required</p>
            <p> <b>No Monthly</b> Payment System</p><br>
            <button type="button" class="btn border shadow btn-lg m-2"><a href="#"><b>Free Trial</b></a></button>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
            <h3 class="pt-3 text-info">PROFESSIONAL</h3>
            <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.21</h1>
            <p>/Per Image</p>
            <p class="border-bottom">Perfect For Professionals & Businesses.</p><br>
            <p><b>100 Image</b> Minimum Order </p>
            <p> <b> 3 Images Free</b> Trial Before Ordering</p>   
            <p><b>JPEG, PNG, PSD, TIFF, RAW, PDF</b>  Format</p>   
            <p>24/7 Support</p> 
            <p><b> Unlimited</b> Revision </p>  
            <p> <b>Affiliate</b> Opportunities</p> 
            <p> <b>C To C Contact</b> Not Required</p>
            <p> <b>Monthly</b> Payment System</p><br>
            <a class="btn footer-background text-white btn-lg button_slide shadow" href="{% url 'testapp:getfreedemo' %}" role="button">FREE TRIAL</a>
          </div>
        </div>
    </div>
  </div>
</section>
{% endblock content %}
