{% extends 'testapp/base.html' %}
{% load static %}
{% block title %}Image Retuch{% endblock %}

{% block content %}
  <section class="background_image py-5">
    <div class="container">
        <div class="text-white text-center">
          <h1 class="display-1 txt_shadow" style="font-weight: 800; font-size: 6vh;">PHOTOSHOP RETOUCHING SERVICES ARE GREAT FOR PICTURE EDITING</h1><br>
          <button type="button" class="btn btn-danger btn-lg m-2 rounded-pill"><a href="#" class="text-white"><b> Our Expertise</b></a></button>
            <button type="button" class="btn btn-light btn-lg m-2 rounded-pill"><a href="{% url 'testapp:contact' %}" class="text_color"><b> Get Contact Us</b></a></button>
      </div>
    </div>
</section>



<section>
  <div class="container"><br>
    <div class="text-center shadow p-3">
      <img src="{% static 'theme/assets/img/clipping-path/Image-Re-touch_CPIn.jpg' %}" class="img-fluid" title="Image Retuch" alt="Image Retuch">
    </div><br>
    <div class="txt-sz-p p-3">
      <p>Photo retouching is an art and true expression of pictorial beauty. In the past few years, photo retouching has become an essential part of photograph editing. It is generally done to make the photo more appealing and to improve its quality. Being a professional photographer, you need to be able to retouch your own images.</p><br>
      <p>The photo retouching industry has also been booming recently. If you need your photos retouched and made to look perfect, we can help you in just a few days. Our experienced photo editors will retouch your best photos.
      </p><br>
      <p>Photo retouching can be expensive. With the help of our professional Photo Retouching services, you can customize your picture to your requirement. </p>
    </div>
  </div><br>
</section>

<section>
  <div class="container">
    <div class="p-3 txt-sz-p">
      <h2 class="txt_shadow">Photo retouching service Method</h2><br>
      <p>Photoshop is a great tool for photo retouching, image editing, photo enhancing, and image correction. This service may help people to get equal beauty photos. The most essential things to know when going to a retouching service are, first of all, what retouching service you should choose, which is based on the type of photos you retouch and the purpose of the retouching.</p><br>
      <p>The best way to get the job done is to make the process easy and quick. That is why the best photo retouching service should come with a retouching template that allows you to quickly plug in your photos and get results accurately tailored to your business needs.</p><br>
      <p>These services will retouch your pictures making them more appealing and sometimes creating a better look in the process. So, you need some tips about these services. as like:</p><br>
      <p>
        <ul>
          <li>Quality is the most important aspect of a retouching service</li>
          <li>Choose photos for retouching</li>
          <li>Use high quality images </li>
          <li>Promote your skill and service</li>
          <li>Have a dedicated website </li>
          <li>Avoid common mistakes</li>
        </ul>
      </p><br> 
      <br>
      <h3>Two Methods for Image Retouching</h3>
      <p>Most people choose retouching services because they believe that it saves time and money. There are two methods for image retouching. Such as Basic retouching & Top-level retouching</p>
      <p>Basic retouching</p>
      <p>Basic retouching is the oldest, proven, and least cute way to alter a photo. It creates a similar impression by trying to remove sharp edges, strengthen colors, or correct bad lighting. </p>
      <p>Basic retouching involves the use of photographs as a base for creating artwork or content for web and social media sites. Photoshop is one of the most common applications used for this purpose. There are again two methods of basic retouching</p>
      <p><ul>
        <li>The traditional method
        </li>
        <li>The new digital way.
        </li>
      </ul>
    </p> <br>
    <br>
    <h2 class="txt_shadow">Top-level retouching</h2>
    <p>Retouching is not a black-and-white technique. It depends on the kind of work you do and the level of industry knowledge you have. Top-level retouching is one of the most advanced, time-consuming, and expensive methods of content creation.</p>
    <p>Top-level retouching method is one of the best methods for altering photos and videos. It gives you total control over all the details of a photo or video, from the composition to the RGB balance and so on.</p>
    <h3>Photo Retouching Best of 5 Ways</h3>
    <p>Photo retouching is a modern application of digital painting. There are various ways of photo retouching that can turn out very nice images. The process of photo retouching is not difficult for the experienced user, but there are some things you should know before starting. I’ll show here 5 ways of photo retouching that most beginners can benefit from. </p>
    <p>
      <ul>
        <li>Create a more attractive looking image</li>
        <li>Remove Unwanted Objects </li>
        <li>Cover up Physical imperfections.</li>
        <li>Erase unwanted areas</li>
        <li>Use shadow and highlight layers to add or remove</li>
      </ul>
    </p><br>
    <h3>Use of Photo retouching service</h3>
    <h4>Contact us now and get a free trial today.</h4>
    </div>
     <br>
   
  </div>
</section>


  <section class="bg-light py-5">
    <div class="container">
      <div class="text-center txt-sz-p">
        <h3 class="text-size txt_shadow">PRICING</h3>
        <p>Clipping Paths India (CPIn) is a unique image editing company. We never think about pricing. Our main concentration is the quality of work and our 1st goal is to show the quality of work and buildup a long-term business relationship.</p>
      </div><br>
      <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
              <h3 class="pt-3">STARTER</h3>
              <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.29</h1>
              <p>/Per Image</p>
              <p class="border-bottom">Basic Plan For Beginners.</p><br>
              <p><b>10 Image/$10</b>  Minimum Order</p>
              <p> <b>2 Images Free</b> Trial Before Ordering</p>            
              <p><b>JPEG, PNG, PSD, TIFF</b>  Format</p>   
              <p><b>24/7 </b> Support</p> 
              <p><b> 3 Times</b> Revision </p>  
              <p> <b>Affiliate</b> Opportunities</p> 
              <p> <b>C To C Contact</b> Not Required</p>
              <p> <b>No Monthly</b> Payment System</p><br>
              <button type="button" class="btn border shadow btn-lg m-2"><a href="#"><b>Free Trial</b></a></button>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div class="py-5 p-3 border text-center bg-white txt-sz-p shadow">
              <h3 class="pt-3 text-info">PROFESSIONAL</h3>
              <h1 class="display-1 txt_shadow" style="font-weight: 500; font-size: 10vh;">$0.21</h1>
              <p>/Per Image</p>
              <p class="border-bottom">Perfect For Professionals & Businesses.</p><br>
              <p><b>100 Image</b> Minimum Order </p>
              <p> <b> 3 Images Free</b> Trial Before Ordering</p>   
              <p><b>JPEG, PNG, PSD, TIFF, RAW, PDF</b>  Format</p>   
              <p>24/7 Support</p> 
              <p><b> Unlimited</b> Revision </p>  
              <p> <b>Affiliate</b> Opportunities</p> 
              <p> <b>C To C Contact</b> Not Required</p>
              <p> <b>Monthly</b> Payment System</p><br>
              <a class="btn footer-background text-white btn-lg button_slide shadow" href="{% url 'testapp:getfreedemo' %}" role="button">FREE TRIAL</a>
            </div>
          </div>
      </div>
    </div>
  </section>


{% endblock content %}