{% extends 'testapp/base.html' %}
{% load static %}
{% block title %}portfolio{% endblock %}

{% block content %}
  <section class="background_image py-5">
    <div class="container">
        <div class="text-white text-center">
          <h1 class="display-1 txt_shadow" style="font-weight: 800; font-size: 6vh;">OUR WORKS</h1><br>
          <button type="button" class="btn btn-danger btn-lg m-2 rounded-pill"><a href="#" class="text-white"><b> Our Expertise</b></a></button>
            <button type="button" class="btn btn-light btn-lg m-2 rounded-pill"><a href="{% url 'testapp:contact' %}" class="text_color"><b> Get Contact Us</b></a></button>
      </div>
    </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-2-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-3-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-4-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-5-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-6-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-7-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-8-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-9-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-10-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-11-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-12-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-13-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-14-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-15-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-16-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-17-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-18-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      
      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-19-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-20-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-21-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>

      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-22-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-23-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-24-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-25-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-26-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>



      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-27-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-28-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-india-29-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>


      
      <div class="col-sm-3 col-md-3 p-3">
        <div class="text-center shadow">
          <img src="{% static 'theme/assets/img/portfolio/Clipping-Path-India-30-1080x766.jpg' %}" class="img-fluid rounded" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}

